<ion-content has-header="true">
    <div ng-show="auth.user">
      <p>Hello test,  {{auth.user.displayName}}</p>
      <button class="button" ng-click="logout(auth.user.uid)">Logout</button>
    </div>
    <div ng-hide="auth.user">
      <p>Welcome, please log in.</p>
      <button class="button button-positive icon-left ion-social-facebook" ng-click="login('facebook')">Login with Facebook</button>
      <button class="button button-positive icon-left ion-social-twitter" ng-click="login('twitter')">Login with Twitter</button>
      <button class="button button-positive icon-left ion-social-google" ng-click="login('google')">Login with Google</button>
    </div>
    <div ng-show="auth.user">
        <label class="item item-input">
          <span class="input-label">nickname</span>
          <input type="text" ng-model="profile.nickname">
        </label>
    </div>
    <button ng-click="createMyBase()" >
        Create my base
    </button>
    <map center="map.center" zoom="map.zoom" polylines="map.polylines" attaquants="makersAttaquants" coords="coords" base="base" bases-enemies="basesEnemies"></map>
    <!--<google-map center="map.center" zoom="map.zoom">
     <polylines models="polylines" path="'path'" stroke="'stroke'" visible="'visible'"
                  geodesic="'geodesic'" fit="false" editable="'p.editable'" draggable="'draggable'" icons="'icons'"></polylines>
      <marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" >
        </marker>
    </google-map>-->
</ion-content>