
.bar-stable {
	display: none;
}

body {
	height: 100%;/*1136px;*/
	width: 100%; /*640px;*/
}

.nice-body {
	position: absolute;
	top: 0;
	left: 0;
	background: white;
	width: 100%;
	height: 100%;/*460px;*/
}

#logo {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 20px;
	display: block;
	position:absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.logo-placeholder {
	height: 200px;
	width:75%;
	margin: 30px auto;
	display: block;
	position: relative;
}
#social-network button, #new-game button {
	width: 75%;
	margin: 13px auto;
	display: block;
	max-height: 40px;
	min-height: 20px;
}

#new-game button {
	background: #3c86ad;
	border-color: #3c86ad;
	color: white;
	font-weight: bold;
}

#new-game li:first-child button:before {
	content: url('../../img/NewGameIcons.png');
	width: 20%;
	position: relative;
	top: 4px;
	right: 39px;
}

#new-game li:nth-child(2) button:before {
	content: url('../../img/DashBoardIcon.png');
	width: 20%;
	position: relative;
	right: 32px;
}

#new-game li:nth-child(3) button:before {
	content: url('../../img/ParamsIcons.png');
	width: 20%;
	position: relative;
	top: 3px;
	right: 50px;
}

#google-network {
	background: #E94E3C;
	border-color: #E94E3C;
}

#twitter-network {
	background:#32c5f4 ;
	border-color: #32c5f4;
}

#facebook-network {
	background: #3b609d;
	border-color:#3b609D;
}

.bold-network {
	font-weight: bold;
}

#auth-footer	{
	width: 77%;
	margin: 0 auto;
}

#auth-footer img {
	width: 60%;
	margin: 0 auto;
	display: block;
}

#new-game-placeholder {
	width: 50%;
}
#new-game-placeholder img {
	width: 100%;
}

.platform-c:not(.enable-transitions) * {
  -webkit-transition: none !important;
  transition: none !important;
}


.scroll{
	height: 100%;
}

.parent-map{
	height: 100%;
	width: 100%;
}
/* line 30, ../scss/style.scss */
.angular-google-map-container {
	width: 100%;
  	height: 100%;
}
